@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

*,
html {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
.center {
  margin: auto;
  text-align: center;
}
